<!DOCTYPE html>
<html>
<head>
</head>
<body style="background-color: rgb(162, 226, 212)">
<center>
<br>
<br>
<br>
<h1 style="font-style: bold ; color: rgb(182, 7, 7) ; font-size: 50px">You Are Diabetics Positive!!</h1>
<h2 style="font-style: bold ; color: rgb(46, 18, 146) ; font-size: 40px"><i>"Life is not over because you have diabetes. Make the most of what you have, be grateful."</i></h2>
<img src="https://i.pinimg.com/originals/88/65/bc/8865bcceca1d1425ba2ae9ba7dbe7c3f.gif" width="600" height="400">
</center>
</body>
</html>